<!DOCTYPE html>
<html>
<head>
	<title> {% block title %}{% endblock %} </title>

	<!-- Required metatags -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8"/>

	{% block head %}{% endblock %}

	<!-- Link to Boostrap's CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!-- Link to Zach's CSS -->
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="#">Zach's Book Review Website</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto">
	      		<li class="nav-item">
	        		<a class="nav-link" href="/search"> Home </a>
	      		</li>
	      		<li class="nav-item" id="login">
	        		<a class="nav-link" href="/login"> Login </a>
	      		</li>
	      		<li class="nav-item" id="register">
	        		<a class="nav-link" href="/register"> Register </a>
	      		</li>
	      		<li class="nav-item" id="logout">
	        		<a class="nav-link" href="/logout"> Logout </a>
	      		</li>
	      		
	    	</ul>
	    	<form class="form-inline my-2 my-lg-0">
	      		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    	</form>
	  	</div>
	</nav>

	<main class="container p-5">
            {% block main %}{% endblock %}
    </main>

    <footer class="footer">
    	<div class="container">
    		<span class="text-muted">Created in 2018 by Zach Sirera using the Goodreads API. </span>
   		</div>
    </footer>
</body>
</html>