$primary-color: #dbdee1;
$background-color: grey;



h1 {
	margin: auto;
	text-align: center;
	padding: 30px;
	background-color: $background-color;
	color: white;
	font-family: sans-serif;
}

h6 {
	@extend %h1;
	padding: 10px;
}

body {
	background-image: url("hamburger.jpg");
	h3 {
		@extend %h1;
	}
}

#info {
	margin: auto;
	text-align: center;
	padding: 50px;
	background-color: $background-color;
	color: white;
	font-family: sans-serif;
}
.table {
	background-color: $primary-color;
	text-align: left;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	width: 750px;

	.row {
		padding: 20px;
	}
}

img.menu_image {
	width: 200px;
}
img.cart_image {
	width: 100px;
}
.btn btn_secondary {
	margin-left: 350px
}
p.sale {
	text-decoration-line: line-through;
}
@media (min-width: 1000px) {
			h1::before {
				content: "Welcome to Zach's Burger Shop"
			}
		}

		@media (max-width: 999px) {
			h1::before {
				content: "Welcome"
			}
		}